<app-header></app-header>

<div class="home-container col-1 col-2 col-3 col-4 col-4 col-5 col-6 col-7 col-8 col-9 col-10 col-11 col-12">
    <div class="all-movies">
        <div class="trending-movies">
            <div class="top">
                <h4>Trending Movies</h4>
                <div class="view-all">View</div>
            </div>
            <div class="movies-thumbnail col-1 col-2 col-3 col-4 col-4 col-5 col-6 col-7 col-8 col-9 col-10 col-11 col-12">
                <div class="movie" *ngFor="let movie of trendingMovies">
                    <div class="cover" (click)="goToMovie('trending', movie.id)" >
                        <img [src]="movie.cover" alt="">
                    </div>
                    <div class="detail">
                        <div class="name" (click)="goToMovie('trending', movie.id)">{{ movie.name }}</div>
                        <div class="rating">{{ movie.rating }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="theatre-movies">
            <div class="top">
                <h4>Popular in Theatres</h4>
                <div class="view-all">View</div>
            </div>
            <div class="movies-thumbnail">
                <div class="movie" *ngFor="let movie of theatreMovies">
                    <div class="cover" (click)="goToMovie('theatre', movie.id)">
                        <img [src]="movie.cover" alt="">
                    </div>
                    <div class="detail">
                        <div class="name" (click)="goToMovie('theatre', movie.id)">{{ movie.name }}</div>
                        <div class="rating">{{ movie.rating }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="popular-movies">
        <h4>All Time Popular</h4>
        <div class="movies">
            <div class="movie" *ngFor="let movie of popularMovies">
                <div class="name" (click)="goToMovie('popular', movie.id)">{{ movie.name }}</div>
                <div class="rating">{{ movie.rating }}</div>
            </div>
            <div class="view-all">View All</div>
        </div>
    </div>
</div>
